body {
   margin: 0;
   padding: 0;
}

.customers {
   width: 100%;
   margin-bottom: 50px;
}

.customers-container {
   width: 1170px;
   padding: 15px;
   margin: 0 auto;
   box-sizing: border-box;
}

.customers__title {
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 36px;
   line-height: 42px;
   text-align: center;
   color: #000000;
   margin: 0;
   margin-top: 54px;
   margin-bottom: 54px;
}

.customers-line {
   display: flex;
   justify-content: center;
   align-items: center;
}

.customers-line__line {
   height: 0;
   width: 170px;
   border-bottom: 1px solid #EC7979;
   box-sizing: border-box;
   margin-bottom: 40px;
}

.customers__subtitle {
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: #86878B;
   text-align: center;
   margin: 0;
   margin-bottom: 83px;
}

.customers__reverews {
   width: 100%;
}

.customers-reverews-row {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.customers-reverew-column {
   width: 370px;
}

.customers-reverew-column-text {
   height: 180px;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #E2E2E2;
   border-radius: 10px;
}
.customers-reverew-column-text__text{
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: #86878B;
   text-align: center;
   margin: 0;
}

.customers-reverew-column__triangle {
   width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #E2E2E2;
   box-sizing: border-box;
   position: relative;
   left: 70px;
}

.customers-reverew-column-body {
   display: flex;
   align-items: flex-start;
   margin-top: 46px;
}

.customers-reverew-column-body-left__photo {
   margin-right: 30px;
}

.customers-reverew-column-body-right__title {
   width: 269px;
   font-family: 'Open Sans';
   font-weight: 700;
   font-size: 24px;
   line-height: 54px;
   color: #000000;
   margin: 0;
   margin-bottom: 15px;
}

.customers-reverew-column-body-right__subtitle {
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: #000000;
   margin: 0;
}

@media screen and (max-width: 1250px) {
   .customers-container {
      width: 100%;
   }
   .customers__title {
      font-size: 24px;
      line-height: 28px;
      margin-top: 48px;
      margin-bottom: 48px;
   }
   
   .customers-line__line {
      width: 142px;
      margin-bottom: 32px;
   }
   
   .customers__subtitle {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 32px;
   }
   
   .customers-reverew-column {
      width: 317px;
   }

   .customers-reverew-column-text__text{
      font-size: 14px;
      line-height: 16px;
   }
   
   .customers-reverew-column-body-left__photo {
      margin-right: 22px;
   }
   
   .customers-reverew-column-body-right__title {
      width: 230px;
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 9px;
   }
   
   .customers-reverew-column-body-right__subtitle {
      font-size: 14px;
      line-height: 16px;
   }
   .customers-reverew-column-body-left__photo{
      width: 63px;
      height: 63px;
   }
}

@media screen and (max-width: 1060px) {
   .customers-reverews-row {
      flex-direction: column;
   }
   .customers-line__line {
      width: 134px;
      margin-bottom: 24px;
   }

   .customers__subtitle {
      margin-bottom: 24px;
   }

   .customers-reverew-column {
      width: 280px;
      margin-bottom: 40px;
   }

   .customers-reverew-column-text__text{
      padding: 0 5px ;
   }

   .customers-reverew-column-body-right__title {
      width: 80%;
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 10px;
   }

   .customers-reverew-column-body-left__photo{
      width: 57px;
      height: 57px;
   }

}