body {
   margin: 0 px;
}

.tabs {
   width: 100%;
   margin-top: 50px;
}

.tabs-container {
   width: 1170px;
   margin: 0 auto;
   padding: 15px;
   box-sizing: border-box;
   margin-bottom: 50px; /*отступ для awersome */
}

.tabs-item {
   width: 100%;
   height: 39px;
}

.tabs-item__tab-one {
   display: inline-block;
   width: 17.2%;
   height: 39px;
   box-sizing: border-box;
   border-top: 1px solid #C6CBCD; 
   border-left: 1px solid #C6CBCD;
   border-right: 1px solid #C6CBCD;
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
   text-align: center;
   font-family: 'Open Sans';
   font-weight: 400;
   font-size: 14px;
   line-height: 39px;
   color: #333333;
   float: left;
}

.tabs-item__tab-two,.tabs-item__tab-three {
   width: 15.5%;
   height: 39px;
   display: inline-block;
   box-sizing: border-box;
   border-bottom: 1px solid #C6CBCD;
   text-align: center;
   font-family: 'Open Sans';
   font-weight: 400;
   font-size: 14px;
   line-height: 39px;
   color: #333333;
   float: left;
}

.tabs-item__tab-four {
   width: 51.8%;
   height: 39px;
   display: inline-block;
   box-sizing: border-box;
   border-bottom: 1px solid #C6CBCD;
}

.tabs-body {
   width: 100%;
   box-sizing: border-box;
   border-left: 1px solid #C6CBCD;
   border-right: 1px solid #C6CBCD;
   border-bottom: 1px solid #C6CBCD;
   display: flex;
   justify-content: flex-end;
}

.tabs-body-left {
   width: 50%;
   height: 100%;
   display: flex;
   flex-direction: column;
   margin-right: 25px;
}

.tabs-body-left__title {
   height: 124px;
   font-family: 'Open Sans';
   font-weight: 700;
   font-size: 30px;
   line-height: 124px;
   color: #000000;
   margin: 0;
   margin-bottom: 38px;
}

.tabs-body-left__text {
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: #000000;
   margin: 0;
   margin-bottom: 38px;
}

.tabs-body-left__button {
   width: 270px;
   height: 58px;
   font-family: 'Open Sans';
   font-weight: 600;
   font-size: 18px;
   line-height: 25px;
   text-align: center;
   color: #FFFFFF;
   background: #EC7979;
   border: none;
   margin: 0;
   padding: 0;
}

.tabs-body-left__button:hover{
   cursor: pointer;
   background-color: #AB4949;
}

.tabs-body-left__button:focus{
   background-color: #EC7979;
   box-shadow: inset 0px 0px 10px #AB4949;
}

.tabs-body-right {
   width: 41%;
}

@media screen and (max-width: 1230px){
   .tabs-container {
      width: 992px;
   }

   .tabs-body-left__title {
      height: 89px;
      font-size: 24px;
      line-height: 89px;
   }

   .tabs-body-left__text {
      font-size: 14px;
      line-height: 16px;
   }

   .tabs-body-left__button {
      width: 231px;
   }

   .tabs-body-right__photo {
      width: 398px;
      height: 395px;
   }
   .tabs-body {
      height: 395px;
   } 
}  

@media screen and (max-width: 1060px){
   .tabs-container {
      width: 550px;
   }

   .tabs-body
   {
      display: block;
   }

   .tabs-body-left{
      width: 100%;
   }

   .tabs-body-left__title {
      text-align: center;
      height: 112px;
      font-size: 18px;
      line-height: 112px;
      margin-bottom: 29px;
      }

   .tabs-body-left__text {
      text-align: center;
      font-size: 13px;
      line-height: 15px;
      margin-bottom: 29px;
      padding: 0 10px;
   }

   .tabs-body-left__button {
      width: 242px;
      height: 50px;
      margin: 0 auto;
   }

   .tabs-body-right {
      display: none;
   }
}  

@media screen and (max-width: 650px){
   .tabs-container {
      width: 100%;
   }

   .tabs-body-left__button {
      margin-bottom: 30px;
   }

   .tabs-body-left__title {
      height: 112px;
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 29px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 30px;
   }
} 
