body {
   margin: 0;
   padding: 0;
}

.social {
   width: 100%;
   background: #000000;
   text-align: center;
}

.social__link {
   width: 100%;
   font-size: 0;
}

.link__item-photo {
   margin-top: 35px;
   margin-right: 38px;
}

.last-photo {
   margin-right: 0;
}

.copyright {
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: rgba(255, 255, 255, 0.5);
   padding-top: 34px;
   padding-bottom: 27px;
   box-sizing: border-box;
   margin: 0;
   }

@media screen and (max-width: 1024px) {
   .link__item-photo {
      margin-right: 28px;
   }
   .link__item-photo{
      width: 45px;
      height: 45px;
   }
   .copyright {
      font-size: 14px;
      line-height: 16px;   
      padding-bottom: 30px;
      padding-top: 38px;
   }
}

@media screen and (max-width: 728px){
   .link__item-photo {
      margin-right: 17px;
   }
   .link__item-photo{
      width: 26px;
      height: 26px;
   }
   .copyright {
      padding-bottom: 45px;
      padding-top: 42px;
   }
}



