body {
   margin: 0;
   padding: 0;
}

.pricing-options {
   width: 100%;
   background: #F5F5F5;
   margin-bottom: 50px;
}

.container {
   width: 1170px;
   padding: 15px;
   margin: 0 auto;
}

.pricing-options-header{
   width: 100%;
}

.pricing-options-header__title {
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 36px;
   line-height: 42px;
   color: #000000;
   text-align: center;
   margin: 0;
   margin-top: 54px;
   margin-bottom: 54px;
}

.pricing-options-line{
   display: flex;
   align-items: center;
   justify-content: center;
}

.pricing-options-line__line {
   width: 170px;
   height: 0px;
   border-bottom: 1px solid #EC7979;
   margin-bottom: 40px;
   box-sizing: border-box;
}

.shadow {
   box-shadow:0px 4px 10px rgba(51, 51, 51, 0.5);
}

.pricing-options-header__subtitle {
   height: 21px;
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: #86878B;
   text-align: center;
   margin: 0;
   margin-bottom: 59px;
}

.pricing-options-body {
   width: 100%;
   height: 530px;
   display: flex;
   justify-content: space-between;
   margin-bottom: 50px;
}

.location-basic-pro {
   display: flex;
   align-items: flex-end;
}

.column-option-item {
   list-style-type: none;
   padding: 0;
   margin: 0;
}

.column-option-item__title {
   width: 370px;
   height: 60px;
   background: #333333;
   border: 2px solid #F5F5F5;
   font-family: 'Open Sans';
   font-weight: 700;
   font-size: 24px;
   line-height: 60px;
   text-align: center;
   color: #FFFFFF;
   box-sizing: border-box;
}

.column-option-item__price {
   width: 370px;
   height: 100px;
   background: #333333;
   border: 2px solid #F5F5F5;
   font-family: 'Raleway';
   font-weight: 700;
   font-size: 36px;
   line-height: 100px;
   text-align: center;
   color: #FFFFFF;
   box-sizing: border-box;
}

.column-option-item__text, .column-option-item__subtitle {
   width: 370px;
   height: 50px;
   border: 2px solid #F5F5F5;
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 18px;
   line-height: 50px;
   text-align: center;
   justify-content: center;
   box-sizing: border-box;
}

.text-color{
   background: #FFFFFF;
   color: #86878B;
}

.subtitle-color{
   background: #333333;
   color: rgba(255, 255, 255, 0.5);
}

