body {
   margin: 0;
   padding: 0;
}

.banner-block-background{
   width: 100%;
   height: 1026px;
   background-image: url('../img/image.svg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   background-attachment: scrol;
   position: relative;
   z-index: 2;
} 

.banner-block-color{
   width: 100%;
   height: 1026px;
   background-color: rgba(0, 0, 0, 0.5);
}

.wrapper {
   height: 1026px;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.banner{
   width: 1170px;
   padding: 15px;
   box-sizing: border-box;
}

.banner-wrap{   
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.banner-wrap-left{
   width: 57%;
}

.banner__logo{
   margin-bottom: 73px;
}

.banner__title {
   font-family: 'Raleway';
   font-weight: 500;
   font-size: 48px;
   line-height: 56px;
   color: #FFFFFF;
   margin: 0;
   margin-bottom: 55px;
}

.banner-line__line{
   height: 0;
   width: 170px;
   box-sizing: border-box;
   border-bottom: 1px solid #FFFFFF;
   margin-bottom: 42px;
}

.banner__subtitle {
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: #FFFFFF;
   margin: 0;
   margin-bottom: 42px;
}

.banner__button{
   width: 270px;
   height: 58px;
   box-sizing: border-box;
   border: 2px solid #FFFFFF;
   background-color: transparent;
   font-family: 'Open Sans';
   font-weight: 600;
   font-size: 18px;
   line-height: 25px;
   color: #FFFFFF;
   padding: 0;
}

.banner__button:hover{
   cursor: pointer;
   border-color: #EC7979;
   color: #EC7979;
}

.banner__button:focus{
   background-color:  #AB4949;
   border-color: #AB4949;
   color: #FFFFFF;
}

.banner-wrap-right{
   width: 40%;
}

.form-banner{
   height: 450px;
   background-color: #FFFFFF;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.form-banner__title{
   font-family: 'Open Sans';
   font-weight: 700;
   font-size: 24px;
   line-height: 33px;
   color: #333333;
   text-align: center;
   margin: 0;
   padding: 33px 12px;
}

.form-banner-title-color{
   color: #EC7979;
}

.form-banner__item{
   width: 79%;
   font-family: 'Open Sans';
   font-weight: 400;
   font-size: 14px;
   line-height: 19px;
   color: #BDBDBD;
   height: 51px;
   border: none;
   border-bottom: 1px solid #BDBDBD;
   padding: 0;
}

.form-banner__button{
   width: 100%;
   height: 60px;
   font-family: 'Open Sans';
   font-weight: 600;
   font-size: 15px;
   line-height: 20px;
   color: #FFFFFF;
   background-color: #EC7979;
   border-radius: 0px 0px 10px 10px;
   box-sizing: border-box;
   border: none;
   padding: 0;
}

.form-banner__button:hover{
   cursor: pointer;
   background-color: #AB4949;
}

.form-banner__button:focus{
   cursor: pointer;
   background-color: #EC7979;
}


@media screen and (max-width:1270px) {
   .banner{
      width: 100%;
   }

   .banner-wrap-left{
      width: 52%;
   }

      .banner__logo{
      width: 183px;
      height: 75px;
      margin-bottom: 37px;
   }
   
   .banner__title {
      font-size: 38px;
      line-height: 42px;
      margin-bottom: 41px;
   }
   
   .banner-line__line{
      width: 115px;
      margin-bottom: 31px;
   }
   
   .banner__subtitle {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 31px;
   }
   
   .banner__button{
      width: 183px;
      font-size: 18px;
      line-height: 25px;
   }
   
   .banner-wrap-right{
      width: 398px;
   }
   
   .form-banner{
      height: 450px;
      background-color: #FFFFFF;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
   }
   
   .form-banner__title{
      font-size: 18px;
      line-height: 25px;
      padding: 30px 1px;
   }
}

@media screen and (max-width:1022px) {

   .wrapper {
      display: block;
      margin: 0 auto;
   }
   
   .banner__logo{
      display: none;
   }

   .banner__title {
      margin-top: 140px;
   }

   .banner-wrap-left{
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .banner-wrap{   
      flex-direction: column;
      align-items: center;
   }

   .banner__title{
      text-align: center;
   }

   .banner__button{
      margin-bottom: 50px;
   }
}

@media screen and (max-width:480px) {
   .banner__title {
      font-size: 36px;
      margin-bottom: 44px;
   }
   
   .banner-line__line{
      width: 134px;
      margin-bottom: 42px;
   }
   
   .banner__subtitle {
      margin-bottom: 42px;
   }
   
   .banner__button{
      width: 183px;
      font-size: 18px;
      line-height: 25px;
   }

   .banner-wrap-left{
      width: 100%;
   }

   .banner-wrap-right{
      width: 280px;
      height: 50px;
   }
   
   .form-banner{
      height: 280px;
   }
   
   .form-banner__title{
      width: 100%;
      font-size: 14px;
      line-height: 19px;
   }
}