body {
   margin: 0;
   padding: 0;
}

.pricing-options {
   width: 100%;
   background: #F5F5F5;}

.container {
   width: 1170px;
   padding: 15px;
   margin: 0;
   margin: 0 auto;
   box-sizing: border-box;
}

.pricing-options-header{
   width: 100%;
}

.pricing-options-header__title {
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 36px;
   line-height: 42px;
   color: #000000;
   text-align: center;
   margin: 0;
   margin-top: 54px;
   margin-bottom: 54px;
}

.pricing-options-line{
   display: flex;
   align-items: center;
   justify-content: center;
}

.pricing-options-line__line {
   width: 170px;
   height: 0px;
   border-bottom: 1px solid #EC7979;
   margin-bottom: 40px;
   box-sizing: border-box;
}

.shadow {
   box-shadow:0px 4px 10px rgba(51, 51, 51, 0.5);
}

.pricing-options-header__subtitle {
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: #86878B;
   text-align: center;
   margin: 0;
   margin-bottom: 59px;
}

.pricing-options-body {
   width: 100%;
   height: 530px;
   display: flex;
   justify-content: space-between;
   margin-bottom: 50px;
}

.location-basic-pro {
   display: flex;
   align-items: flex-end;
}

.column-option-item {
   list-style-type: none;
   padding: 0;
   margin: 0;
   width: 370px;
}

.column-option-item__title {
   height: 60px;
   background: #333333;
   border: 2px solid #F5F5F5;
   font-family: 'Open Sans';
   font-weight: 700;
   font-size: 24px;
   line-height: 60px;
   text-align: center;
   color: #FFFFFF;
   box-sizing: border-box;
}

.column-option-item__price {
   height: 100px;
   background: #333333;
   border: 2px solid #F5F5F5;
   font-family: 'Raleway';
   font-weight: 700;
   font-size: 36px;
   line-height: 100px;
   text-align: center;
   color: #FFFFFF;
   box-sizing: border-box;
}

.column-option-item__text, .column-option-item__subtitle {
   height: 50px;
   border: 2px solid #F5F5F5;
   font-family: 'Raleway';
   font-weight: 400;
   font-size: 18px;
   line-height: 50px;
   text-align: center;
   justify-content: center;
   box-sizing: border-box;
}

.text-color{
   background: #FFFFFF;
   color: #86878B;
}

.subtitle-color{
   background: #333333;
   color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 1245px){
   .container {
      width: 100%;}
   
   .pricing-options-header__title {
      font-size: 24px;
      line-height: 28px;
      margin-top: 48px;
      margin-bottom: 48px;
   }
      
   .pricing-options-line__line {
      width: 143px;
      height: 0px;
      margin-bottom: 32px;
   }
      
   .pricing-options-header__subtitle {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 49px;
   }
      
   .pricing-options-body {
      height: 470px;
   }
      
   .column-option-item {
      width: 318px;
   }
      
   .column-option-item__title {
      height: 53px;
      font-size: 24px;
      line-height: 53px;
   }
      
   .column-option-item__price {
      height: 89px;
      line-height: 89px;
   }
      
   .column-option-item__text, .column-option-item__subtitle {
      height: 44px;
      line-height: 44px;
   }
}

@media screen and (max-width: 1060px){
   .pricing-options-body {
      height: 100%;
      flex-direction: column;
   }
   .column-options{
      margin: 0 auto;
      margin-bottom: 27px;
   }

@media screen and (max-width: 480px){
   .column-option-item  {
      width: 258px;
   } 
}
}
